$color-button: rgb(255, 100, 100);
$color-button-hover: #116400;
$color-button-disabled: #115F00;
$color-field: #1CA000;
$color-field-hover: #116400;
$color-border: #000000;
$color-shadow: #6e6e6ea1;
$color-border-exodus-success: #b40000e5;
$color-red:#E90B20;